.container{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dadada;
    flex:3;
    background: #EFEAE2;
    
  }
  .profileName{
    font-weight: light;
    font-size: larger;
    margin-right:10px
  }
  .header{
    display:flex; 
    justify-Content:space-between;
    width: 70px 
  }
  .reply{
    display:flex;
    flex-direction:row;
    /* background: #ededed */
  }
  .replycancel{
    font-size: 25px;
    cursor: pointer;
    position:relative;
    right:10px;
     margin:0px 0px 0px 0px
  }