.searchBox{
  display: flex;
  flex-direction: row;
  background: #f6f6f6;
  padding: 10px;
}
.inputBox{
    width: 100%;
    text-align: center;
    height: 50px;
    border-radius: 40px;
    font-size: large;
    border: none;
}
.searchIcon{
    position: absolute;
    left:90px;
    top: 7.6em;
    opacity:.3;
}
